<layout name="layout" />

<!--main-container-part-->
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" class="tip-bottom"><i class="icon-home"></i> 大赛信息</a></div>
    </div>
    <!--End-breadcrumbs-->

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <div class="widget-box">
                            <div class="widget-title">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab1">大赛简介</a></li>
                                    <li><a data-toggle="tab" href="#tab2">大赛奖励</a></li>
                                    <li><a data-toggle="tab" href="#tab3">报名细则</a></li>
                                </ul>
                            </div>
                            <div class="widget-content tab-content">
                                <div id="tab1" class="tab-pane active">
                                    <div class="widget-content nopadding">
                                        <form class="form-horizontal" method="post" action="#" name="number_validate" novalidate="novalidate">
                                            <script id="info_desc" name="content" type="text/plain"></script>
                                            <div class="form-actions">
                                                <input type="button" onclick="desc()" value="大赛简介提交" class="btn btn-success">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="tab2" class="tab-pane">
                                    <div class="widget-content nopadding">
                                        <form class="form-horizontal" method="post" action="#" name="number_validate" novalidate="novalidate">
                                            <script id="info_award" name="content" type="text/plain"></script>
                                            <div class="form-actions">
                                                <input type="button" onclick="award()" value="大赛奖励提交" class="btn btn-success">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="tab3" class="tab-pane">
                                    <div class="widget-content nopadding">
                                        <form class="form-horizontal" method="post" action="#" name="number_validate" novalidate="novalidate">
                                            <script id="info_rule" name="content" type="text/plain"></script>
                                            <div class="form-actions">
                                                <input type="button" onclick="rule()" value="报名细则提交" class="btn btn-success">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end-main-container-part-->
<!-- 富文本框  -->
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/script/info.js"></script>